a{
    color:white !important;
}
/*SHould we delete the below?*/
a:hover{
    text-decoration: none !important;
}

.Sponsor1{
    background-image: url(../../img/UC.jpg);
  }
  .Sponsor2{
    background-image: url(../../img/CDE1.jpg);
  }
  .Sponsor3{
    background-image: url(../../img/CDE1.jpg);
  }
  .Sponsor4{
    background-image: url(../../img/UC.jpg);
  }
  .Sponsor5{
    background-image: url(../../img/CDE1.jpg);
  }
  .Sponsor6{
    background-image: url(../../img/CDE1.jpg);
  }
  
  .SponsorContainer{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
   
  .Sponsor1Cover{
    background-color: rgba(153,93,129,0.9);
  }
  .Sponsor2Cover{
    background-color: rgba(12,206,107,0.9);
  }
  .Sponsor3Cover{
    background-color: rgba(255,231,76,0.9);
  }
  .Sponsor4Cover{
    background-color: rgba(255,176,58,0.9);
  }
  .Sponsor5Cover{
    background-color: rgba(255,89,100,0.9);
  }
  .Sponsor6Cover{
    background-color: rgba(53,167,255,0.9);
  }
  
  /**rgba(0,83,119,0.9)**/
  
  .SponsorCover:Hover{
    background-color: rgba(0,0,0,0);
    /**font-size: 2.7em !important; **/
    /**I really like the style of the above but It is obviously a choppy anmation  as I think any font-size change would be**/ 
  }
  h1{
    font-size: inherit !important;
    margin-bottom: 0px !important;
  }
  h2{
    font-size: 0.7em !important;
  }
  .TextContainer{
    height: 10%;
  }
  .Sponsor{
    padding: 0px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s linear;
    display: inline-block;
    height:100%;
    width:100%;
  }
  .Sponsor:hover{
    transform: scale(1.1);
  }
  .SponsorCover{
    width: 100%;
    height: 100%;
    transition: all 1s linear ;
    font-size: 2em !important;
    color: white;
    position: relative;
  }

  
hr{
    border-top: 2px solid rgba(255,255,255,1)  !important;
    width: 80%;
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
  }
  .App-link {
    color: #61dafb;
  }
  .CountdownBanner{
    font-size: 1em;
  }
  .smaller{
    font-size: 0.5em;
  }
  .RowContainer{
    margin-left: 0px !important;
    margin-right:0px !important;
    max-width: 100% !important;
  }
  .SponsorsPage .col{
    overflow: hidden;
    height: 28vh !important;
  }
  /*I have some kind of strange dream of these cells color wiping to just the name on hover, leaving the logo in full color.*/