.language{
    color: lightgrey !important;

}
.activeLanguage{
    color: black !important;
}
.navbar{
    background-color: rgba(0,0,0,0) !important;
    padding: 0.4em !important;
}
.dropdown-toggle{
    font-size: 1.3em;
}