.language{
    color: lightgrey !important;

}
.activeLanguage{
    color: black !important;
}
.navbar{
    background-color: rgba(0,0,0,0) !important;
    padding: 0.4em !important;
}
.dropdown-toggle{
    font-size: 1.3em;
}
.navbar .dropdown-menu span{
    padding: 10px;
}
.navbar .dropdown-menu span{
    padding: 10px;
    cursor: default;
}
.navbar .dropdown-menu a a{
    color: rgb(128,128,128) !important;
    padding: 0;
}