i{
    padding: .4em;
    border-radius: 0.5em;
}
.btn-floating{
    height: 2em;
    width: 2em;
    background-color: transparent !important;
    color: white;
}
.btn{
    color: white !important;
}
.SocMedContainer{
    display: inline-block;
    padding-left: 0.35em !important;
    padding-right: 0.35em !important;
}
.container{
    width: inherit !important;
}