.SponsorCol{
    background-color:darkslategray !important;
    height: 8vh;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.5);
    
}
.SponsorCol h2{
    color: white;
    font-size: 1.2em !important;
}

.SponsorCol div{
    margin-top: 0.5em;
}